<h1>New Comment</h1>

<%= form_with(model: [@post, @comment], url: user_post_comments_path(@user, @post), method: :post) do |form| %>
  <%= form.label :text %> <br>
  <%= form.text_area :text, placeholder: 'Enter your comment to this post'%> <br>

  <%= form.submit 'Create Comment' %>
<% end %>
